# Flutter
.dart_tool/
build/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS
.DS_Store
Thumbs.db

# Android
/captures
.externalNativeBuild
.cxx
local.properties